.chatTitleContainer {

	text-align: left;
	font-size: 14pt;
	vertical-align: middle;
	display: table-cell;
	height: 50px;
	width: 100%;
	font-family: Expert-Sans-Regular, verdana, Arial, helvetica, sans-serif;
	color: #f1033f;
	background-color: #24242400;

}

* {
	background-color: #242424;
}

.chatContainer {

	height: 100%;
	width: 100%;
	background-color: #1a1919;
	padding: 20px;

}
ul{
	background-color: #242424;	
}
.chatHistoryContainer {

	padding: 20px;
	height: 80%;
	width: 100%;
	background-color: #3030309d;
	border-top: 1px solid #e90a3a;
	border-left: 1px solid #e90a3a;
	border-right: 1px solid#e90a3a;
	border-bottom: 1px solid #e90a3a;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;


}

.chatMessageControls {

	margin-top: 6px;
	padding: 10px;
	width: 100%;
	background-color: rgba(105, 59, 59, 0.644);
	border-top: 1px solid #e90a3a;
	border-left: 1px solid #e90a3a;
	border-right: 1px solid #e90a3a;
	border-bottom: 1px solid #e90a3a;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;

}



#sendMessageButton {
	background-color: rgba(250, 0, 62, 0.767);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

}

.fa {

	margin-right: 6px;

}



.formComments {

	list-style-type: none;
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 60px;
	padding-left: 0.5%;

}



.comment-timestamp :first-child{

	margin-left: 10px;
	margin-right: 5px;
	font: 1em sans-serif;
	color: #f80053;

}
.comment-timestamp:nth-child() {
display: none;
}
.comment-user{

	margin-left: 10px;
	margin-right: 5px;
	font: 1em sans-serif bold;
	color: #f80053;
	

}

.form-comments-table tr td {

	white-space: nowrap;
	padding-top: 0.5%;

}




.comment {

	width: 100%;
	background-color: rgba(0, 0, 0, 0.719);
	font-size: 1.2em;
	margin: 0;
	padding: 8px 8px;
	line-height: 1.5;
	color: #f31067;
	border-color: rgba(255, 52, 103, 0.952);
	cursor: pointer;
	border: 1px solid#f31067;
	border-bottom: 3px solid#f31067;
	border-radius: 3px;

}

.comment:hover {

	background-color: #fd2b8d9d;
	color: #030203;

}



