.chatTitleContainer {

	text-align: left;
	font-size: 14pt;
	vertical-align: middle;
	display: table-cell;
	height: 50px;
	width: 100%;
	font-family: Expert-Sans-Regular, verdana, Arial, helvetica, sans-serif;
	color: #f1033f;
	background-color: #24242400;

}

* {
	background-color: #1a1919;
	text-size-adjust: auto;
}

.top {
	padding: 0.5%;
	margin: 1%;
	background-color: #24242400;
	border-top: 1px solid #e90a3a;
	border-left: 1px solid #e90a3a;
	border-right: 1px solid#e90a3a;
	border-bottom: 1px solid #e90a3a;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.chatContainer {

	height: 100%;
	width: 100%;
	background-color: #1a1919;
	padding: 20px;

}

ul {
	background-color: #242424;
	padding-inline-start: 0px;
}

.chatHistoryContainer {

	padding: 20px;
	height: 80%;
	background-color: #3030309d;
	border-top: 1px solid #e90a3a;
	border-left: 1px solid #e90a3a;
	border-right: 1px solid#e90a3a;
	border-bottom: 1px solid #e90a3a;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	position: relative;
	overflow-x: scroll;

}

.chatMessageControls {

	margin-top: 6px;
	padding: 10px;
	width: 100%;
	background-color: rgba(105, 59, 59, 0.644);
	border-top: 1px solid #e90a3a;
	border-left: 1px solid #e90a3a;
	border-right: 1px solid #e90a3a;
	border-bottom: 1px solid #e90a3a;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;

}



#sendMessageButton {
	background-color: rgba(250, 0, 62, 0.767);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

}

.fa {

	margin-right: 6px;

}



.formComments {

	list-style-type: none;
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 60px;
	padding-left: 0.5%;

}



.comment-timestamp {

	font: 0.1em sans-serif;
	color: #f80053;

}

.comment-user {

	margin-left: 10px;
	margin-right: 5px;
	font: 1em sans-serif bold;
	color: #f80053;


}

.form-comments-table tr td {

	white-space: nowrap;
	padding-top: 0.5%;

}




.comment {

	width: inherit;

	background-color: #202020bd;
	font-size: 14px;
	margin: 0;
	padding: 8px 8px;
	line-height: 1.5;
	color: #f31067;
	border-color: rgba(255, 52, 103, 0.952);
	cursor: pointer;
	border: 1px solid#f31067;
	border-bottom: 3px solid#f31067;
	border-radius: 3px;
	overflow: scroll;
	text-size-adjust: auto;


}

.comment:hover {

	background-color: #fd2b8d9d;
	color: #030203;

}

.instructionglow {
	font-size: 15px;
	background-color: #24242400;
	color: #fff;
	-webkit-animation: instructionglow 1s ease-in-out infinite alternate;
	-moz-animation: instructionglow 1s ease-in-out infinite alternate;
	animation: instructionglow 1s ease-in-out infinite alternate;
	padding-bottom: 0.5%;
	margin-bottom: 1%;
}

@-webkit-keyframes instructionglow {
	from {
		text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #9d00e6, 0 0 40px #9d00e6, 0 0 50px #9d00e6, 0 0 60px #9d00e6, 0 0 70px #9d00e6;
	}

	to {
		text-shadow: 0 0 8px #fff, 0 0 30px #e14dff, 0 0 40px #e14dff, 0 0 50px #e14dff, 0 0 60px #e14dff, 0 0 70px #e14dff, 0 0 80px #e14dff;
	}
}

.input-group.input-group-sm.chatMessageControls {
	position: fixed;
}